table.table
  tbody
    tr
      td Long Url
      td= doc.longurl
    tr
      td Created
      td= doc.created
    tr
      td Hits
      td= doc.hits.count
    tr
      td Last Hit
      td= doc.hits.lasttimestamp